<div class="wrap-box" style="height: calc(100vh - 50px)">
  <div class="col-md-6 centered">
    <div class="card">
      <div class="card-body fluffy-form">
        <%= devise_error_messages! %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <h3 class="fluffy-form-title">
            <i class="icon ion-person-add"></i>
            Sign up</h3>
          <label>Email</label>
          <%= f.email_field :email, class: "form-control", autofocus: true %>
          <label>Password</label>
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>

          <label>Password (Again)</label>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>


          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit "Sign up now!", class: "btn-block blue" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
