<div class="drawer dark fixed">
  <div class="media user-box" style="padding: 20px 8px">
    <div class="media-left">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" class="media-object" style="width:60px; border-radius: 50%">
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Doe</h4>
      <p>Premium User</p>
    </div>
  </div>
  <ul class="list">
    <div class="list-search-box dark">
      <input type="text" name="" value="" placeholder="Search for...">
    </div>
    <%= link_to admin_path, class: "list-item thick #{'active' if request.path == admin_path}" do %>
      <i class="icon ion-speedometer"></i>Dashboard
    <% end %>
    <%= link_to admin_sites_path, class: "list-item thick #{'active' if request.path == admin_sites_path}" do %>
      <i class="icon ion-earth"></i>My Sites
    <% end %>
    <%= link_to admin_users_path, class: "list-item thick #{'active' if request.path == admin_users_path}" do %>
      <i class="icon ion-person"></i>Users
    <% end %>
    <%= link_to admin_new_post_path, class: "list-item thick #{'active' if request.path == admin_new_post_path}" do %>
      <i class="icon ion-android-create"></i>New Post
    <% end %>
    <%= link_to admin_settings_path, class: "list-item thick #{'active' if request.path == admin_settings_path}" do %>
      <i class="icon ion-ios-cog"></i>Settings
      <span class="badge blue">
        <i class="icon ion-edit"></i>
      </span>
    <% end %>
  </ul>
</div>
