<% @sites.each do |site| %>
<div class="col-md-4">
  <div class="card">
    <div class="card-head">
      <%= site.name %>( <%= site.url %> )
    </div>
      <ul class="list">
        <%= link_to admin_site_posts_path(site), class: "list-item list-parenty" do %>
          <i class="icon ion-document"></i>Posts
        <% end %>
        <%= link_to admin_site_users_path(site), class: "list-item list-parenty" do %>
          <i class="icon ion-ios-people"></i>Users
        <% end %>
        <a class="list-item list-parent"><i class="icon ion-folder"></i>Categories</a>
        <a class="list-item list-parent"><i class="icon ion-pricetags"></i>Tags</a>
        <a class="list-item list-parent"><i class="icon ion-chatbubble-working"></i>Comments</a>
        <a class="list-item list-parent"><i class="icon ion-gear-a"></i>Settings</a>
      </ul>
    <div class="card-foot">
      <%= link_to edit_admin_site_path(site), class: "btn card-foot-btn purple" do %>
        <i class="icon ion-gear-a"></i>Settings
      <% end %>
      <%= link_to admin_site_path(site), method: :delete, class: "btn card-foot-btn red" do %>
        <i class="icon ion-trash-a"></i>Remove
      <% end %>
    </div>
  </div>
</div>
<% end %>

<style media="screen">
  .card .list-item .icon {
    font-size: 16px;
    width: 24px;
    display: inline-block;
  }
</style>

<div class="dialog-wrapper">
  <div class="dialog card" style="height: 200px" data-dialog-id="">

  </div>
</div>

<%= link_to "Add Site", new_admin_site_path, class: "btn blue" %>
