<div class="col-md-6 col-md-offset-3">
  <div class="fluffy-form">
    <h3 class="fluffy-form-title">Add Your WordPress Site</h3>
    <%= form_for [:admin, @site] do |f| %>
      <label for="">Site URL *</label>
      <%= f.text_field :url, required: true, class: 'form-control', placeholder: 'http://yoursite.com' %>
      <label for="">Site username *</label>
      <%= f.text_field :username, required: true, class: 'form-control' %>
      <label for="">Site password *</label>
      <%= f.password_field :password, required: true, class: 'form-control' %>
      <label for="">Path to xmlrpc.php if you changed it</label>
      <%= f.text_field :xmlrpc_path, class: 'form-control' %>
      <label for="">Use SSL?</label>
      <%= f.check_box :ssl, {}, true, false %><br />
      <label for="">SSL Port</label>
      <%= f.text_field :ssl_port, class: 'form-control' %>
      <%= f.submit class: 'btn-block red'%>
    <% end %>
  </div>
</div>
