<div class="row">
  <div class="col-md-12">
    <%= @site.name %>
  </div>
  <div class="col-md-12 text-right">
    <%= link_to admin_posts_new_path, class: "btn red" do %>
      <i class="icon ion-plus"></i>Create New Post
    <% end %>
  </div>
  <div class="col-md-12">
    <div class="card">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Status</th>
            <th>Modified</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>

            <tr>
              <td data-title="post_title"><%= post['post_title'] %></td>
              <td data-title="Firm Code"><%= post['post_content'].truncate(15) %></td>
              <td data-title="Firm State/City"><%= post['post_status'] %></td>
              <td data-title="Firm Incharge Name"><%= post['post_modified'].to_a %></td>
              <td data-title="Mobile"><%= post['post_date'].to_a %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
